html,
body{
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Gilroy' ;
    line-height: 24px;
    color: black;
    background-repeat: repeat;
}

@font-face {
    font-family: 'Gilroy';
    src:url(fonts/gilroy/Gilroyextrabold.ttf)
}

@font-face {
    font-family: 'Gilroy-light';
    src:url(fonts/gilroy/Gilroylight.ttf)
}

.container{
    width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

/* ACTIVE AND HOVER FOR LINKS */

.hover__link:hover{
    opacity: 0.6;
}

.active__link:active{
    opacity: 0.3;
}


/* CATALOGUE-BAR */

.dropdown-bar {
    position: absolute;
    display:none;
    top: 130px;
    left: -20px;
    width: 1160px;
    background-color: #f7e296f4;
    margin: 0 20px;
    z-index: 10;
}

.bar-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.bar-wrapper ul{
    margin: 50px 0 60px 60px;
}

.bar-wrapper li{
    margin-top: 30px;
}

.bar-wrapper a{
    font-family:'Gilroy-light' ;
}

.catalogue:hover .dropdown-bar{
    display: block;

}

/* HEADER */

.main-h1{
    display: none;
}

.logo-01{
    position: absolute;
    top: 195px;
    left: 955px;
}

.dash{
    position: absolute;
    top:225px ;
    left: 620px;
    width: 100px;
    height: 8px;
    background-color:white ;
}

.main-header{
    position: relative;
    width: 1200px;

}

/* logotip device */

.main-logo{
    position: absolute;
    top: -20px;
    left: 80px;
    z-index: 10;
}

.main-logo:hover{
    opacity: 0.6;
}

.main-logo:active{
    opacity: 0.25;
}

/* navigation */

.user-nav-wrapper{
    width: 1160;
    height: 300px;
    margin:40px 20px 0 20px;
    background-color: #f7e296 ;
}

.main-nav{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.user-navigation{
    display: flex;
    width: 521px;
}

/* BORDER HEADER ANIMATION */

.border-element{
    position: absolute;
    top: 72px;
    left: 90px;
    width: 1px;
    height: 2px;
    background-color: black;
    opacity: 0;
}

.border-element-left{
    position: relative;
    top: 28px;
    left: 0;
    width: 2px;
    height: 45px;
    background-color: none;
}

.border-element-right{
    width: 2px;
    height: 45px;
    position: relative;
    top: 28px;
    left: 0px;
}

.border-element-top{
    position: relative;
    top: 28px;
    left: 0px;
    width: 83px;
    height: 2px;
    background-color: none;
}

.border-element-bottom{
    position: absolute;
    top: 72px;
    left: 365px;
    width: 0px;
    height: 2px;
    background-color: black;
}

/* SEARCH */

.site-search{
    width: 350px;
    height: 30px;
    margin-left: 90px;
    margin-top: 44px;
    background: none;
    border: none;
    outline:none;
    font-family:"Gilroy-light" ;
    font-size: 15px;
    text-indent: 5px;
}

.site-search:focus ~ .border-element{
    opacity: 1;
    width: 353px;
    transition: all 0.3s ease-in-out;
}

.search-logo{
    position: absolute;
    top: 50px;
    left: 62px;
    width: 18px;
    height: 18px;

}

.searcing__button{
    width: 3px;
    height: 46px;
    margin-top: 28px;
    font-family: "Gilroy-light";
    color: white;
    background-color: #f7e296 ;
    border: none;
    opacity: 0;
}

.site-search:focus ~ .border-element-bottom{
    width: 83px;
    transition: 0.2s;
    transition-delay: 0.3s;
}

.border-element-right::before{
    content: "";
    background-color: black;
    position: absolute;
    left: -73px;
    bottom: 0px;
    width: 2px;
    height: 0px;
}

.border-element-left::before{
    content: "";
    background-color: black;
    position: absolute;
    left: -71px;
    bottom: 0px;
    width: 2px;
    height: 0px;
}

.site-search:focus ~ .border-element-left::before{
    height: 45px;
    transition: 0.2s;
    transition-delay: 0.3s;
}

.site-search:focus ~ .border-element-right::before{
    height: 45px;
    transition: 0.2s;
    transition-delay: 0.6s;
}

.border-element-top::before{
    content: "";
    background-color: black;
    position: absolute;
    left: -71px;
    bottom: 0px;
    width: 0px;
    height: 2px;
}

.site-search:focus ~ .border-element-top::before{
    width: 68px;
    transition: 0.2s;
    transition-delay: 0.6s;
}

.site-search:focus ~ .searcing__button{
    transition-delay: 0s;
    width: 83px;
    opacity: 1;
    background-color: transparent;
    color: black;
    border: none;
    transition: 0.4s;
}

.user-navigation .searcing__button:hover{
    color: white;
    background-color: black;
}


.user-navigation .searcing__button:active{
    width: 83px;
    color: white;
    background-color: black;
    opacity: 0.5;
}

.login {
    position: relative;
    margin-top: 45px;
    margin-left: 78px;
}

.login__text{
    padding-left: 9px;
}

.compare{
    margin-top: 45px;
    margin-left: 217px;
}

.compare__link{
    position: relative;
}

.compare_image{
    position: relative;
    top: 5px;
    left: 7px;
}

.basket{
    margin-top: 46px;
    margin-left: 48px;
}

.basket__img {
    position: relative;
    top: 4px;
    left: 7px;
}

.navigation-wrapper{
    display: flex;

}

.catalogue{
    margin-top: 38px;
    margin-left: 60px;
}

.catalogue-plus {
    position: relative;
    top: 2px;
    left: 11px;
}

.delivery{
    margin-top: 40px;
    margin-left: 306px;
}

.guarantee{
    margin-top: 38px;
    margin-left: 37px;
}

.contacts{
    margin-top: 38px;
    margin-left: 115px;
}

/* MAIN - BODY */

.slider-wrapper{
    display: flex;
}

.tripod{
    position: relative;
    top: -110px;
    margin-left: 110px;
}

.slider-info{
    position: relative;
    top: -22px;
    margin-left: 126px;
}

.slogan{
    margin-top:26px;
}

.details{
    position: relative;
    top: 42px;
    width: 220px;
    height: 37px;
}

.more-details{
    position: absolute;
    top: 10px;
    left: 45px;
    z-index: 1;
}

.background-top{
    width: 220px;
    height: 4px;    
    position: relative;
    top: 16px;
}

.background-top::before{
    content: "";
    background-color: #f0c52e;
    position: absolute;
    left: 0px;
    bottom:0px;
    width: 220px;
    height: 4px;
    transition: 0.3s ease-in-out;
}

.more-details:hover ~ .background-top::before {
    height: 16px;
  }

  .background-bottom{
    width: 220px;
    height: 4px;    
    background-color: #f0c52e;
    position: relative;
    top: 16px;
    transition: 0.3s ease-in-out;
}

.more-details:hover ~ .background-bottom {
    height: 16px;
  }

/* radio */

.radio-wrapper {
    position: absolute;
    left: 390px;
    top: 13px;
}

.radio{
    display: flex;
    position: relative;
    gap: 12px;
}

.radio__input{
    appearance: none;
    position: absolute;
}

.radio__label {
    position: relative;
    padding-left: 10px;
    color: black;
    cursor: pointer;
}

.radio__label::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: none;
    
}

.radio__label::after{
    position: absolute;
    top: 3px;
    left: 13px;
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border: 1px solid none;
    border-radius: 50%;
    background-color: none;
}

.radio__input:checked + .radio__label::after{
    border: 1px solid black;
}

/* ditails */

.img-position{
    position: relative;
    top: 100px;
    left: 0px;
}

.img__2{
    top: 97px;
    left: 78px;
}

.img__3{
    top: 102px;
    left: 153px;
}

.img-position2{
    position: relative;
    top: 132px;
    left: -278px;
}

.img__5{
    top: 130px;
    left:-200px;
}

.img__6{
    top: 133px;
    left:-122px;
}

/* POPULAR-LIST */

.popular-list{
    position: relative;
    top: -7px;
}

.popular-items{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    gap: 40px;
}

.container-products{
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.container_1{
    background-image: url(img/product-list/popular-1.png) ;
}

.container_2{
    background-image: url(img/product-list/popular-2.png) ;
    background-position: center bottom;
}

.container_3{
    background-image: url(img/product-list/popular-3.png) ;
}

.container_4{
    background-image: url(img/product-list/popular-4.png) ;
}

.container_5{
    background-image: url(img/product-list/popular-5.png) ;
}

.container_6{
    background-image: url(img/product-list/poppular-6.png) ;
}

.container-products:hover {
    background-color: #f0c52e;
}

.container-products:active {
    opacity: 0.6;
}

/* ITEMS_DESCRIPTION */

.items-description{
    margin-top: 29px;
}

.description__list{
    display: flex;
    gap: 40px;
    padding: 0;
    margin-left: 20px;
}

.description__list li{
    display: block;
    width: 160px;
    list-style: none;
    margin: 0;
    padding: 0;

}

/* DELIVERY_SECTION */

.delivery__section{
    position: relative;
    width: 100%;
    margin-top: 80px;
    border: 1px solid transparent;
}

.background-img{
    position: absolute;
    top: 98px;
    width: 100%;
    height: 290px;
    background-image: url(img/Layer\ 1\ Gray.png);
    z-index: -1;
}


.delivery-items{
    display: flex;
    gap: 200px;
}

.delivery-wrapper{
    margin-top: 0px;
    border: 1px solid transparent;
}

.delivery-menu{
    position: relative;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.decoration-dash {
    position: absolute;
    top: -20px;
    left: 276px;
    width: 7px;
    height: 318px;
    background-color: black;
}

/* ACTIVE_DELIVERY_BUTTONS */

.delivery-buttons{
    position: relative;
    margin-top: 57px ;
    height: 37px;
    width: 160px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 4px;
}

.more-details1{
    display: block;
    position: absolute;
    top: 9px;
    margin: 0 18px;
    z-index: 1;
}

.container-2{
    margin: 0 24px;
}

.container-3{
    margin: 0 35px;
}

.background-top1{
    width: 160px;
    height: 4px;    
    position: relative;
    top: 16px;
}

.background-top1::before{
    content: "";
    background-color: #f0c52e;
    position: absolute;
    left: 0px;
    bottom:0px;
    width: 160px;
    height: 4px;
    transition: 0.3s ease-in-out;
}

.more-details1:hover ~ .background-top1::before {
    height: 19px;
  }

  .more-details1:active ~ .background-top1::before {
    height: 18px;
    width: 280px;
    color: #f0c52e;
    background-color: black;
  }

  .background-bottom1{
    width: 160px;
    height: 4px;    
    background-color: #f0c52e;
    position: relative;
    top: 16px;
    transition: 0.3s ease-in-out;
}

.more-details1:hover ~ .background-bottom1 {
    height: 19px;
  }

.more-details1:active ~ .background-bottom1 {
    height: 18px;
    width: 280px;
    background-color: black;    
  }

.more-details1:active {
    color: #f0c52e;  
    opacity: 1;
  }


.delivery-description{
    width: 480px ;
}

.delivery-description h2{
    font-size: 47px;
    margin-top: 83px;
    margin-left: 40px;
    letter-spacing: 1.1px;
}

.delivery-description p{
    font-size: 15px;
    font-family: "Gilroy-light" ;
    line-height: 29px;
    padding-top: 6px;
    padding-left: 40px;
    letter-spacing: 0.2px;
}

.delivery-logo {
    position: relative;
    top: 83px;
    left: -83px;
}

.product-logos{
    margin-top: 225px;
}

.logos-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 20px;
}

.logos-wrapper a {
    width: 260px;
    height: 100px;
}

.logos-wrapper .back-1{
    background-image: url(img/product-list/logo-1.jpg);
}

.logos-wrapper .back-1:hover{
    background-image: url(img/product-list/logo-1.jpg\ copy.jpg);
}

.logos-wrapper .back-2{
    background-image: url(img/product-list/logo-2.jpg);
}

.logos-wrapper .back-2:hover{
    background-image: url(img/product-list/logo-2.jpg\ copy.jpg);
}

.logos-wrapper .back-3{
    background-image: url(img/product-list/logo-3.jpg);
}

.logos-wrapper .back-3:hover{
    background-image: url(img/product-list/logo-3.jpg\ copy.jpg);
}

.logos-wrapper .back-4{
    background-image: url(img/product-list/logo-4.jpg);
}

.logos-wrapper .back-4:hover{
    background-image: url(img/product-list/logo-4.jpg\ copy.jpg);
}

/* ABOUT-US AND CONTACTS */

.contact-info-wrapper{
    display: flex;
    gap: 10px;
    margin: 90px 20px 0 20px;
}

.dash-1{
    top: 10px;
    width: 80px ;
    height:8px ;
    background-color: black;
}

.contact-info-wrapper h3{
    font-size: 47px;
    margin-top: 58px;
    letter-spacing: 0.5px;
}

.contact-info-wrapper p{
    font-family:'Gilroy-light' ;
    font-size: 15px;
    margin-top: 20px;
    padding-top: 10px;
    line-height: 30px;

}

.about-us{
    width: 900px;
    margin-right: 35px;
}

.about-us ul{
    margin-top: 55px;
    padding-left: 10px;
}

.about-us li{
    padding-top: 16px;
    padding-left: 25px;
    font-size: 16px;
}

.about-us li::marker{
    content: url(img/product-list/slider-button.png);

}

.location{
    margin-top: 38px;
    margin-left: 2px;
}

/* ABOUT_US_LINKS */

.wrapper_info-links{
    display: flex;
    margin-left: 20px;
    gap: 340px;
}

.about-us-buttons{
    position: relative;
    margin-top: 45px ;
    height: 37px;
    width: 260px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.2em;
}

.container-link2{
    padding-left: 17px;
}

.more-details2{
    display: block;
    position: absolute;
    top: 9px;
    left: 5px;
    margin: 0 18px;
    z-index: 1;
}

.background-top2{
    width: 260px;
    height: 4px;    
    position: relative;
    top: 16px;
}

.background-top2::before{
    content: "";
    background-color: #f0c52e;
    position: absolute;
    left: 0px;
    bottom:0px;
    width: 260px;
    height: 4px;
    transition: 0.3s ease-in-out;
}

.more-details2:hover ~ .background-top2::before {
    height: 19px;
  }

  .more-details2:active ~ .background-top2::before {
    height: 18px;
    width: 260px;
    color: #f0c52e;
    background-color: black;
  }

  .background-bottom2{
    width: 260px;
    height: 4px;    
    background-color: #f0c52e;
    position: relative;
    top: 16px;
    transition: 0.3s ease-in-out;
}

.more-details2:hover ~ .background-bottom2 {
    height: 19px;
  }

.more-details2:active ~ .background-bottom2 {
    height: 18px;
    width: 260px;
    background-color: black;    
  }

.more-details2:active {
    color: #f0c52e;  
    opacity: 1;
  }

/* FOOTER */

footer{
    background-image: url(img/product-list/footer.png);
    height: 350px;
    margin-top: 85px;
}

.footer-wrapper{
    display: flex;
}

.location__footer a{
    display: block;
    color: #f0c52e;
    font-size: 48px;
    margin-top: 72px;
    margin-left: 19px;
}

.location__footer p{
    color: white;
    font-size: 15px;
    font-family:'Gilroy-light' ;
    margin-top: 38px;
    margin-left: 20px;
}

.footer-dash {
    width: 80px;
    height: 7px;
    background-color: #f0c52e;
    margin-top: 79px;
    margin-left: 20px;
}

.footer__list{
    display: flex;
    margin-top: 135px;
    margin-left: 110px;
    gap:7px;
    list-style: none;
}

.footer__list a{
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.2px;
}

.socials-wrapper{
    margin-top:65px;
    margin-left: 305px;
}

.socials-wrapper a{
    padding-right: 20px;
    opacity: 0.6;
}

.socials-wrapper a:hover{
    opacity: 1;
}

.socials-wrapper a:focus{
    opacity: 0.3;
}

.user-navigation-footer{
    margin-top: 66px;
}

.user-navigation-footer a{
    position: relative;
    margin-left: 50px;
    color: white;
    font-family:'Gilroy-light' ;
    font-size: 15px;
    padding: 5px;
}

.user-navigation-footer img{
    position: absolute;
    top: 6px;
    left: -22px;
}

.user-navigation-footer a:nth-child(2) img{
    position: absolute;
    top: 9px;
    left: -16px;
}

